@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home/Home.css">
</head>
<body>
    <main class="main">
        <div class="hero-text">
            <h5 class="preview-text">Добро пожаловать в нашу парикмахерскую</h5>
            <h1 class="preview-text">
                Создайте свой стиль<br> вместе с нами!
            </h1>
            <p class="preview-text">
                Мы предлагаем профессиональные услуги стрижки, укладки и ухода за волосами.
                <br>Наши мастера помогут вам подчеркнуть красоту и уникальность вашего образа.
                <br>Запишитесь на прием и почувствуйте себя великолепно!
            </p>
            <div>
                <a class="Sign-up" href="#">Записаться</a>
            </div>
        </div>
    </main>
</body>
