

@{
    ViewBag.Title = "Добавить новую услугу";
    var masters = ViewData["masters"] as List<BeautyShop3.Models.Master>;
}

<head>
    <style>
        .form-group {
            margin-bottom: 15px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }

    </style>
</head>

<h2>Добавить новую услугу</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Название услуги</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
    </div>

    <div class="form-group">
        <label for="Description">Описание услуги</label>
        <textarea class="form-control" id="Description" name="Description" required></textarea>
    </div>

    <div class="form-group">
        <label for="Price">Цена</label>
        <input type="number" class="form-control" id="Price" name="Price" step="0.01" required>
    </div>

    <div class="form-group">
        <label for="SelectedMasters">Выберите мастеров</label>
        <select id="SelectedMasters" name="SelectedMasters" class="form-control" multiple>
            @foreach (var master in masters)
            {
                <option value="@master.id">@master.name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
