@{
    ViewData["Title"] = "Услуги";
    Layout = "_Layout";
    var services = (List<Service>)ViewData["services"];

}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Service/Service.css">
</head>
<body>
    <h1>Service List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in services)
            {
                <tr>
                    <td>@service.id</td>
                    <td>@service.name</td>
                    <td>@service.price</td>
                </tr>
            }
        </tbody>
    </table>
</body>
